<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Markdig" version="0.15.0" targetFramework="net45" />
  <package id="Microsoft.Dism" version="1.6.452" targetFramework="net45" />
  <package id="Open.NAT" version="2.1.0.0" targetFramework="net45" />
  <package id="PanelManager" version="1.0.0" targetFramework="net45" />
  <package id="Unofficial.Ionic.Zip" version="1.9.1.8" targetFramework="net45" />
  <package id="WindowsFirewallHelper" version="1.6.3.40" targetFramework="net45" />
</packages>