<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32.NET" version="1.2.0" targetFramework="net47" />
  <package id="DotNetZip" version="1.13.5" targetFramework="net47" />
  <package id="Markdig" version="0.18.1" targetFramework="net47" />
  <package id="Microsoft.Dism" version="2.0.21" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="Open.NAT" version="2.1.0.0" targetFramework="net47" />
  <package id="PanelManager" version="1.0.0" targetFramework="net47" />
  <package id="ProjectCeleste.GameFiles.GameScanner" version="2.4.3" targetFramework="net47" />
  <package id="ProjectCeleste.GameFiles.Tools" version="2.2.7" targetFramework="net47" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net47" />
  <package id="WindowsFirewallHelper" version="1.6.3.40" targetFramework="net47" />
</packages>