on:
#  push:
  pull_request:
    branches:
    - master
#    tags:
#    - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Get Build Version
      run: |
        $lastTagHash = $(git rev-list --tags --max-count=1)
        $lastTagName = $(git describe --tags $lastTagHash)
        $lastRelease = $lastTagName.Substring(1)
        echo "lastReleaseVersion=$lastRelease" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append
        Write-Host $env:lastReleaseVersion
      shell: pwsh
    - uses: microsoft/setup-msbuild@v2
    - uses: NuGet/setup-nuget@v2
   
    - name: Restore NuGet packages
      run: nuget restore Celeste_Launcher.sln
    
    - name: Build solution
      run: msbuild Celeste_Launcher.sln /nologo /nr:false /p:Version=$env:lastReleaseVersion /p:platform="Any CPU" /p:configuration="Release"

    - name: Zip the build output directory
      run: Compress-Archive -Path Celeste_Launcher_Gui/bin/Release/net48/* -Destination CelesteLauncher.zip

    - name: Generate changelog
      id: generate_changelog
      run: |
        $PREVIOUS_TAG = "v$env:lastReleaseVersion"
        $CURRENT_TAG = "$(git describe --tags)"
        Write-Output "Previous tag: $PREVIOUS_TAG"
        Write-Output "Current tag: $CURRENT_TAG"
        git log $PREVIOUS_TAG..$CURRENT_TAG --pretty=format:"* %h %s" --abbrev-commit
        git log $PREVIOUS_TAG..$CURRENT_TAG --pretty=format:"* %h %s" --abbrev-commit > Changelog.md
        Write-Output "Changelog:"
        Get-Content Changelog.md

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        body_path: Changelog.md
        files: |
          CelesteLauncher.zip
